name: Build on Merge

on:
  push:
    branches:
      - release

jobs:
  build:
    permissions:
      contents: write
      packages: write
    uses: runlix/build-workflow/.github/workflows/on-merge.yml@main
    secrets: inherit

