name: On PR Flow

on:
  pull_request:
    branches:
      - release
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test:
    uses: runlix/build-workflow/.github/workflows/on-pr.yml@main
    with:
      run_smoke_test: false
    secrets: inherit
